<div class="product-list">
    <div>{{ product.art }}</div>
    <div>{{ product.category }}</div>
    <div>{{ product.name | titlecase }}</div>
    <div>{{ product.model | titlecase }}</div>
    <div>{{ product.description }}</div>
    <div>{{ product.color | titlecase }}</div>
    <div>{{ product.price | currency:'UAH':'symbol-narrow'}}</div>
    <div class="container-quantity">
        <div><input [disabled]="!product.isAvailable" 
            type="number" 
            #quantity 
            value="1" 
            id="quantity"></div>
    </div>
    <div>
        <button [disabled]="!product.isAvailable" (click)="onBuy(product, quantity.value)">Buy</button>
    </div>
</div>