<div *ngIf="!isEmpty; else elseBlock" class="order-list">
    <div>your cart</div>
    <mat-slide-toggle color="warn"
        [checked]="true"
        (change)="changeSortStrategy($event)">sort UP or Down</mat-slide-toggle>
    <div class="container-titles">
        <div *ngFor="let title of titles">
            <div>{{ title }}</div>
            <div *ngIf="title != 'article' && title != 'order'">
                <mat-slide-toggle color="warn"
                    name='{{ title }}'
                    (change)="onToggleChange($event)"></mat-slide-toggle>
            </div>
        </div>
    </div>
    <div class="product-list" *ngFor="let product of orderList | orderBy: sortBy: sortUpDown; trackBy: trackByItems">
        <app-cart-item appCartItem
            [product]="product"
            (deleteProductEmit)="deleteProduct($event)"
            (changeQuantityProduct)="changeQuantityProduct($event)"
    ></app-cart-item>
    </div>
    <div [ngClass]="{'order-sum':orderSum > 25000}" >SUM: {{ orderSum }}</div>
    <div>quantity of goods: {{ orderSumQuantity }}</div>
    <div><button (click)="removeAllProducts()">remove all products</button></div>
    <div><button (click)="buyProducts()">buy products</button></div>
</div>
<ng-template #elseBlock><div>your cart is empty</div></ng-template>