.order-list {
    border: solid 1px gray;
    border-radius: 5px;

    .product-list {
        display: flex;

        div {
            width: 20%;
        }
    }
}
app-cart-item {
    width: 100%;
}

.order-sum {
    background-color: green;
}
